{% load static %}
{% include 'index.html' %}
{% block content %}
    <div class="container-fluid">
      <div class="row justify-content-center" style="padding-top: 20%">
        <div class="col-sm-4">
          <h4>Registration</h4>
          <form method="POST" style="text-align: center" id="login-form">
            {% csrf_token %} {{ form.as_p }}
            <input
              class="btn btn-primary"
              type="button"
              value="Back"
              style="margin-top: 20px; margin-right: 20px; width: 100px"
              onclick="goBack()"
            />
            <input
              class="btn btn-primary"
              type="submit"
              value="Join"
              style="width: 100px"
            />
          </form>
        </div>
      </div>
    </div>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
{% endblock content %}