{% load static %}
{% include 'index.html' %}

{% block content %}
 <div class="container-fluid">
      <div class="row">
        <div class="col-3 p-2">
          <div class="sticky-block">
            <a
              href="/"
              class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
            >
              <svg class="bi pe-none me-2 mt-3" width="40" height="32">
                <use xlink:href="{% url 'projects' %}"></use>
              </svg>
              <span class="fs-4" style="color: #3b71ca">Fb Connect</span>
            </a>
            <hr />
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a
                  href=""
                  class="nav-link link-body-emphasis active"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseDash"
                  aria-expanded="false"
                  aria-controls="collapseDash"
                >
                  <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#speedometer2"></use>
                  </svg>
                  Dashboard ▾
                </a>
                <div class="collapse" id="collapseDash">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      {% if block_creating %}
                      <a
                        href="#"
                        class="nav-link"
                        style="margin-left: 35px"
                        data-bs-toggle="modal"
                        data-bs-target="#ModalError"
                        >Create new project</a>
                                            <div
                        class="modal fade"
                        id="ModalError"
                        tabindex="-1"
                        aria-labelledby="exampleModalLabel1"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel1">
                                Project creating error
                              </h1>
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              ></button>
                            </div>
                            <div class="modal-body">
                              You can't create a new project because you've exceeded the limit
                            </div>
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-outline-secondary ripple-surface-dark"
                                data-bs-dismiss="modal"
                              >
                                Close
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% else %}
                      <a
                        class="nav-link"
                        href="{% url 'create-project'%}"
                        style="margin-left: 35px"
                        >Create new project</a>
                      {% endif %}
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a
                  href=""
                  class="nav-link link-body-emphasis active"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseAcc"
                  aria-expanded="false"
                  aria-controls="collapseAcc"
                >
                  <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#speedometer2"></use>
                  </svg>
                  Account ▾
                </a>
                <div class="collapse" id="collapseAcc">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        href="{% url 'perm' %}"
                        style="margin-left: 35px"
                        >Permission settings</a
                      >
                      <a
                        class="nav-link"
                        href="{% url 'logout'%}"
                        style="margin-left: 35px"
                        >Logout</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
            <!--          <ul class="nav nav-pills flex-column mb-auto">-->
            <!--            <li>-->
            <!--              <a href="" class="nav-link link-body-emphasis active">-->
            <!--                <svg class="bi pe-none me-2" width="16" height="16">-->
            <!--                  <use xlink:href="#speedometer2"></use>-->
            <!--                </svg>-->
            <!--                Dashboard-->
            <!--              </a>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--              <a href="{% url 'create-project'%}" class="nav-link link-body-emphasis">-->
            <!--                <svg class="bi pe-none me-2" width="16" height="16">-->
            <!--                  <use xlink:href="#speedometer2"></use>-->
            <!--                </svg>-->
            <!--                Create new project-->
            <!--              </a>-->
            <!--            </li>-->
            <!--          </ul>-->
            <!--          <hr />-->
            <!--          <div class="dropdown">-->
            <!--            <a href="" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">-->
            <!--              <img src="https://pbs.twimg.com/profile_images/1646955748444852231/XGehZ_9v_400x400.jpg" alt="" width="32" height="32" class="rounded-circle me-2" />-->
            <!--              {{ user.email }}-->
            <!--            </a>-->
            <!--            <ul class="dropdown-menu text-small shadow">-->
            <!--              <li>-->
            <!--                <a class="dropdown-item" href="{% url 'perm' %}">Permission settings</a>-->
            <!--              </li>-->
            <!--              <li>-->
            <!--                <hr class="dropdown-divider" />-->
            <!--              </li>-->
            <!--              <li>-->
            <!--                <a class="dropdown-item" href="{% url 'logout'%}">Log out</a>-->
            <!--              </li>-->
            <!--            </ul>-->
            <!--          </div>-->
          </div>
        </div>
        <div class="col-8 p-2">
          <div class="row">
            {% for i in projects %}
            <div class="col-sm-4 mb-3 mb-sm-0 p-2 g-2">
              <div class="card">
                <div class="card-body">
                  <i class="fa-solid fa-xmark fa-xl"
                     type="button"
                     style="margin-left: 90%;"
                     data-bs-toggle="modal"
                     data-bs-target="#exampleModal"
                     data-value="{{i.pk}}"
                     onclick="updateLink()"></i>
                  <h5 class="card-title" style="color: #3b71ca">
                    {{ i.project_name }}
                  </h5>
                  <p class="card-text">
                    Facebook account id: <strong>{{i.account_id}}</strong>
                  </p>
                  <p class="card-text">
                    Facebook account currency:
                    <strong>{{i.ad_account_currency}}</strong>
                  </p>
                  <p class="card-text">
                    GA4 currency: <strong>{{i.ga4_currency}}</strong>
                  </p>
                  <a
                    href="{% url 'project-detail' i.pk %}"
                    class="btn btn-primary"
                    style="box-shadow: none !important;"
                    >Integration</a>
                  <!--                                <a href="{{i.pk}}/delete" class="btn btn-danger" style="width: 103.38px;">Delete</a>-->
<!--                  <button-->
<!--                    type="button"-->
<!--                    class="btn btn-outline-secondary ripple-surface-dark"-->
<!--                    data-bs-toggle="modal"-->
<!--                    data-bs-target="#exampleModal"-->
<!--                    data-value="{{i.pk}}"-->
<!--                    onclick="updateLink()"-->
<!--                  >-->
<!--                    Delete-->
<!--                  </button>-->
                </div>
                <div
                  class="modal fade"
                  id="exampleModal"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                          Project deleting
                        </h1>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        Do you want to remove the project?
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-outline-secondary ripple-surface-dark"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                          <a class="btn btn-outline-danger ripple-surface-dark"
                            id="delete-link"
                              onclick="deleteItem()"
                            >Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer" style="color: #9fa6b2">
                  Last data upload: {{ i.date_create }}
                  {% if i.upload_status == 'Success'%}
                  <p class="card-text">
                    Upload status:
                    <span style="color: #14a44d">{{i.upload_status}}</span>
                  </p>
                  {%else%}
                  <p class="card-text">
                    Upload status:
                    <span style="color: #dc4c64">{{i.upload_status}}</span>
                  </p>
                  {%endif%}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <script>
      function updateLink() {
        var button = event.target;
        var valueToPass = button.getAttribute("data-value");

        var myLink = document.getElementById("delete-link");
        myLink.href = encodeURIComponent(valueToPass) + "/delete";
      }
    </script>
    <script>
      function deleteItem() {
        var button = document.getElementById("delete-link");
        button.disabled = true;
        button.innerHTML =
          '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Deleting...';
      }
    </script>
{% endblock content%}